<span class="@(EstimatedTime is "Cancelled" or not "On time" ? "text-danger" : "")">
    @if (EstimatedTime != "On time" && EstimatedTime != "Delayed" && EstimatedTime != "Cancelled" && EstimatedTime != ScheduledTime)
    {
        <span>Expected: @EstimatedTime</span>
    }
    else
    {
        @EstimatedTime
    }
</span>

@code {
    [Parameter]
    [EditorRequired]
    public string EstimatedTime { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public string ScheduledTime { get; set; } = null!;

}
